services:
   docs:
      build:
         context: .
         dockerfile: Dockerfile
      environment:
         - GIT_BRANCH=${GIT_BRANCH:-main}
      ports:
         - 3003:3000
         - 3004:3001
      restart: always
