services:
   docs:
      build:
         context: .
         dockerfile: Dockerfile
      volumes:
         - ./startup.sh:/app/axc-backtesting/papers/governance/startup.sh
      ports:
         - 3003:3000
      restart: always
